<section id=topics class="box no-padding">
	<table class=item-list>
		<tbody>
			{% if tabname %}
				<header>
					{% if tabname == 'All' or tabname == 'all' %}
						<span class=tabs>
							<a href="{{ url_for('topic.tab_view', tabname='All') }}" style="background-color: #666;">全部</a>
						</span>
					{% else %}
						<span class=tabs>
							<a href="{{ url_for('topic.tab_view', tabname='All') }}">全部</a>
						</span>
					{% endif %}
					{% for nodeclass in nodeclasses %}
						{% if nodeclass.nodes.first() and nodeclass.name != '' %}
							{% if nodeclass.name == tabname %}
								<span class=tabs>
									<a href="{{ url_for('topic.tab_view', tabname=nodeclass.name) }}" style="background-color: #666;">{{ nodeclass.name }}</a>
								</span>
							{% else %}
								<span class=tabs>
									<a href="{{ url_for('topic.tab_view', tabname=nodeclass.name) }}">{{ nodeclass.name }}</a>
								</span>
							{% endif %}
						{% endif %}
					{% endfor %}
				</header>
			{% endif %}
			{% for topic in page_obj.items %}
				<tr id=topic-{{ topic.id }}>
					<td class=avatar>
						<a href="{{ url_for('account.usercenter', username=topic.author.name) }}">
							<img src="{{ topic.author.email|gravatar(size=48) }}">
						</a>
					</td>
					<td>
						<h3>
							<a class=title href="{{ url_for('topic.topic_view', topic_id = topic.id) }}">{{ topic.title }}</a>
						</h3>
						<div class=info>
							<span class=tags>
								<a href="{{ url_for('node.index', nodesite = topic.node.site) }}">{{ topic.node.name }}</a>
							</span>
							<span class=author>
								<a class=title href="{{ url_for('account.usercenter', username=topic.author.name) }}">{{ topic.author.name }}</a>
							</span>
							<span class=time>
								创建于 {{ topic.date|datetimeformat }}
								{% if topic.replys.first() %}
									，<a class=title href="{{ url_for('account.usercenter', username=topic.id|gettopiclastreplyid|getreplyauthorid|getusername) }}">{{ topic.id|gettopiclastreplyid|getreplyauthorid|getusername }}</a>
									回复于 {{ topic.id|gettopiclastreplyid|getreplydate|datetimeformat }}
								{% endif %}
							</span>
						</div>
					</td>
					<td class="reply-count last">
						{% if g.user %}
							{% if topic in g.user.reads %}
								<a href="{{ url_for('topic.topic_view', topic_id = topic.id) }}" class=read>{{ topic.reply_count }}</a>
							{% else %}
								<a href="{{ url_for('topic.topic_view', topic_id = topic.id) }}">{{ topic.reply_count }}</a>
							{% endif %}
						{% else %}
							<a href="{{ url_for('topic.topic_view', topic_id = topic.id) }}">{{ topic.reply_count }}</a>
						{% endif %}
					</td>
					{% if session.user_id == 1 %}
						<td><p align="right"><a href="{{ url_for('topic.del_topic', topic_id = topic.id) }}">删除</a></p>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if tabname and page_obj.page == 1 and page_obj.pages > 1 %}
		<footer>
			<a href="{{ url_for('topic.index', tabname=tabname, page=2) }}">» 更多话题</a>
		</footer>
	{% endif %}
</section>
