{% extends "layout.html" %}
{% block title %}博客编辑 › {{ topic.node.name }}{% endblock %}
{% if topic.node.style and topic.node.style != '' and topic.node.style != 'None' %}
	{% block style %}
		<style type="text/css">{{ topic.node.style }}</style>
	{% endblock %}
{% endif %}
{% block sidebarin %}
	<section id=description class=box>
		<header>
		{{ topic.node.name }}
		{% if session.user_id ==1 %}
			<a class=little href="{{ url_for('node.node_edit', nodesite=topic.node.site) }}" style="float: right;">节点编辑</a>
		{% endif %}
		</header>
		{{ topic.node.description|safe }}
	</section>
{% endblock %}
{% block breadcrumb %}<li><a href="{{ url_for('node.index', nodesite=topic.node.site) }}">{{ topic.node.name }}</a>{% endblock %}
{% block body %}
	{% if session.user_id %}
		<div id=mainbar class=span9>
			{% if g.error %}
				<p class="alert alert-block alert-error">错误：{{ g.error }}</p>
			{% endif %}
			<section class=box>
				<form action="{{ url_for('blog.blog_edit', topic_id=topic.id) }}" method=post class=new_topic>
					<legend>博客编辑<span class="gray little" style="float: right;"><a href="javascript:void(function(){var%20d%20=%20document,a%20=%20'setAttribute',s%20=%20d.createElement('script');s[a]('tyle','text/javascript');s[a]('src','http://weibotuchuang.sinaapp.com/bookmark.js');d.head.appendChild(s);})();">Add Image</a></span></legend>
					<div class=form-horizontal>
						<div class=control-group>
							<label class=control-label>标题：</label>
							<div class=controls>
								<input id=topic_title type=text size=30 name=title value="{{ topic.title }}" style="width: 450px;">
							</div>
						</div>
						<div class=control-group>
							<label class=control-label>正文：</label>
							<div class=controls>
								<textarea id=editor-input rows=20 name=text cols=40 style="width: 450px;">{{ topic.text }}</textarea>
							</div>
						</div>
						<div class=form-actions>
							<input class="btn btn-primary" type=submit value=果断提交 name=commit>
						</div>
					</div>
				</form>
			</section>
		</div>
	{% endif %}
{% endblock %}
