{% extends "layout.html" %}
{% block title %}主题收藏{% endblock %}
{% block breadcrumb %}<li class=active>主题收藏</li>{% endblock %}
{% block sidebarin %}
<section class="box no-padding">
	<p>谢谢你，给我的爱</p>
</section>
{% endblock %}
{% block body %}
	<div id=mainbar class=span9>
		{% if topics %}
			<section id=topics class="box no-padding">
				<table class=item-list>
					<tbody>
						{% for topic in topics %}
							<tr id=topic-{{ topic.id }}>
								<td class=avatar>
									<a href="{{ url_for('account.usercenter', username=topic.author.name) }}">
										<img src="{{ topic.author.email|gravatar }}">
									</a>
								</td>
								<td>
									<h3>
										<a href="{{ url_for('topic.topic_view', topic_id=topic.id) }}">{{ topic.title }}</a>
									</h3>
									<div class=info>
										<span class=tags>
											<a href="{{ url_for('node.index', nodesite = topic.node.site) }}">{{ topic.node.name }}</a>
										</span>
										<span class=author>
											<a href="{{ url_for('account.usercenter', username=topic.author.name) }}">{{ topic.author.name }}</a>
										</span>
										<span class=time>
											创建于 {{ topic.date|datetimeformat }}
											{% if topic.replys.first() %}
											，<a href="{{ url_for('account.usercenter', username=topic.id|gettopiclastreplyid|getreplyauthorid|getusername) }}">{{ topic.id|gettopiclastreplyid|getreplyauthorid|getusername }}</a>
												回复于 {{ topic.id|gettopiclastreplyid|getreplydate|datetimeformat }}
											{% endif %}
										</span>
									</div>
								</td>
								<td class="reply-count last">
									{% if g.user %}
										{% if topic in g.user.reads %}
											<a href="{{ url_for('topic.topic_view', topic_id = topic.id) }}" class=read>{{ topic.reply_count }}</a>
										{% else %}
											<a href="{{ url_for('topic.topic_view', topic_id = topic.id) }}">{{ topic.reply_count }}</a>
										{% endif %}
									{% else %}
										<a href="{{ url_for('topic.topic_view', topic_id = topic.id) }}">{{ topic.reply_count }}</a>
									{% endif %}
								</td>
								<td class=last>
									<a class=close rel=nofollow data-remote=true data-method=delete href="{{ url_for('topic.fav', topic_id=topic.id, page=page) }}">×</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		{% else %}
			<section class=box>
				<p>暂时还没有收藏哦</p>
			</section>
		{% endif %}
		{% if pages != 1 %}
			<nav class=pagination>
				<ul>
					{% if page > 4 %}
						{% if page+2 < pages %}
							<li class=prev>
								<a rel=prev href="{{ url_for('account.favorites',page=page-1) }}">上一页</a>
							</li>
							<li>
								<a href="{{ url_for('account.favorites',page=1) }}">1</a>
							</li>
							<li class=disabled>
								<a href="#">...</a>
							</li>
							{% for i in range(page-3,page+2) %}
								{% if i + 1 == page %}
									<li class=active>
								{% else %}
									<li>
								{% endif %}
										<a href="{{ url_for('account.favorites',page=i+1) }}">{{ i + 1 }}</a>
									</li>
							{% endfor %}
							<li class=disabled>
								<a href="#">...</a>
							</li>
							<li>
								<a href="{{ url_for('account.favorites',page=pages) }}">{{ pages }}</a>
							</li>
							<li class=next>
								<a rel=next href="{{ url_for('account.favorites',page=page+1) }}">下一页</a>
							</li>
						{% else %}
							<li class=prev>
								<a rel=prev href="{{ url_for('account.favorites',page=page-1) }}">上一页</a>
							</li>
							<li>
								<a href="{{ url_for('account.favorites',page=1) }}">1</a>
							</li>
							<li class=disabled>
								<a href="#">...</a>
							</li>
							{% for i in range(page-3,pages) %}
								{% if i + 1 == page %}
									<li class=active>
								{% else %}
									<li>
								{% endif %}
										<a href="{{ url_for('account.favorites',page=i+1) }}">{{ i + 1 }}</a>
									</li>
							{% endfor %}
							<li class=next>
								<a rel=next href="{{ url_for('account.favorites',page=page-1) }}">下一页</a>
							</li>
						{% endif %}
					{% else %}
						{% if pages <= 4 %}
							{% for i in range(pages) %}
								{% if i + 1 == page %}
									<li class=active>
								{% else %}
									<li>
								{% endif %}
									<a href="{{ url_for('account.favorites',page=i+1) }}">{{ i+1 }}</a>
									</li>
							{% endfor %}
						{% else %}
							{% if page+2 < pages %}
								<li class=prev>
									<a rel=prev href="{{ url_for('account.favorites',page=page-1) }}">上一页</a>
								</li>
								{% for i in range(0,page+2) %}
									{% if i + 1 == page %}
										<li class=active>
									{% else %}
										<li>
									{% endif %}
											<a href="{{ url_for('account.favorites',page=i+1) }}">{{ i + 1 }}</a>
										</li>
								{% endfor %}
										<li class=disabled>
											<a href="#">...</a>
										</li>
										<li>
											<a href="{{ url_for('account.favorites',page=pages) }}">{{ pages }}</a>
										</li>
										<li class=next>
											<a rel=next href="{{ url_for('account.favorites',page=page+1) }}">下一页</a>
										</li>
							{% else %}
								{% for i in range(page-2,pages) %}
									{% if i + 1 == page %}
										<li class=active>
									{% else %}
										<li>
									{% endif %}
											<a href="{{ url_for('account.favorites',page=i+1) }}">{{ i + 1 }}</a>
										</li>
								{% endfor %}
							{% endif %}
						{% endif %}
					{% endif %}
				</ul>
			</nav>
		{% endif %}
	</div>
{% endblock %}
