{% extends "layout.html" %}
{% block title %}登录{% endblock %}
{% block bread %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block message %}{% endblock %}
{% block body %}
	<div class="span5" style="margin-left: 300px;">
    {% for message in get_flashed_messages() %}
      <p class="alert alert-block alert-success">{{ message }}</p>
    {% endfor %}
    {% if error %}<p class="alert alert-block alert-error">{{ error }}</p>{% endif %}
		<section id="login-form" class="box">
			<form action="{{ url_for('account.login') }}" method=post>
				<legend>登录</legend>
				<div class=form-horizontal>
					<div class=control-group>
						<label class=control-label for=login>用户名或邮箱:</label>
						<div class=controls>
							<input id=login size=30 type=text tabindex=1 name=username>
						</div>
					</div>
					<div class=control-group>
						<label class=control-label for=passwd>密码:</label>
						<div class=controls>
							<input id=passwd size=30 type=password tabindex=2 name=password>
						</div>
					</div>
					<div class=control-group>
						<div class=controls>
							<label class=checkbox>
								<input id=remember_me type=checkbox value=yes tabindex=3 name=remember_me>
								记住我
							</label>
						</div>
					</div>
					<div class=form-actions>
						<input class="btn primary" type=submit value=登录 tabindex=4 name=commit>
						或者
						<a href="{{ url_for('account.register') }}">还未注册？</a>
					</div>
				</div>
			</form>
		</section>
{% endblock %}
