{% extends "layout.html" %}
{% from "_page.html" import paginate %}
{% block title %}回复提醒{% endblock %}
{% block breadcrumb %}回复提醒{% endblock %}
{% block sidebarin %}
	<section class=box>
		<form class=button_to method=post data-remote=true action="">
		</form>
	</section>
{% endblock %}
{% block body %}
	<div id=mainbar class=span9>
		<section id=notifications class="box no-padding">
			<table class=item-list>
				<tbody>
				{% if un == 1 %}
					{% for unread in unreads %}
						{% if unread.topic %}
							<tr id=notification-{{ unread.reply.id }}>
								{% if unread.type == 3 %}
									<td class=avatar>
										<a href="{{ url_for('account.usercenter', username=unread.topic.author.name) }}">
											<img src="{{ unread.topic.author.email|gravatar(size=48) }}" style="width: 48px; height: 48px;">
										</a>
									</td>
								{% else %}
									<td class=avatar>
										<a href="{{ url_for('account.usercenter', username=unread.reply.author.name) }}">
											<img src="{{ unread.reply.author.email|gravatar(size=48) }}" style="width: 48px; height: 48px;">
										</a>
									</td>
								{% endif %}
								{% if unread.type == 1 %}
									<td>
										<h3>
											<a href="{{ url_for('account.usercenter', username=unread.reply.author.name) }}">{{ unread.reply.author.name }}</a>
											回复了你的主题
											<a href="{{ url_for('topic.topic_view', topic_id=unread.reply.topic.id) }}">{{ unread.reply.topic.title }}</a>
											<span class="gray little list">
											{{ unread.reply.date|datetimeformat }}
											</span>
											<span class="new label label-warning">New</span>
										</h3>
										<p>{{ unread.reply.text|safe }}</p>
									</td>
								{% else %}
									{% if unread.type == 2 %}
										<td>
											<h3>
												<a href="{{ url_for('account.usercenter', username=unread.reply.author.name) }}">{{ unread.reply.author.name }}</a>
												在主题
												<a href="{{ url_for('topic.topic_view', topic_id=unread.reply.topic.id) }}">{{ unread.reply.topic.title }}</a>
												提及了你
												<span class="gray little list">
												{{ unread.reply.date|datetimeformat }}
												</span>
												<span class="new label label-warning">New</span>
											</h3>
											<p>{{ unread.reply.text|safe }}</p>
										</td>
									{% else %}
										<td>
											<h3>
												<a href="{{ url_for('account.usercenter', username=unread.topic.author.name) }}">{{ unread.topic.author.name }}</a>
												在主题
												<a href="{{ url_for('topic.topic_view', topic_id=unread.topic.id) }}">{{ unread.topic.title }}</a>
												提及了你
												<span class="gray little list">
												{{ unread.topic.date|datetimeformat }}
												</span>
												<span class="new label label-warning">New</span>
											</h3>
											<p>{{ unread.topic.text|safe }}</p>
										</td>
									{% endif %}
								{% endif %}
								<td class=last>
									<a class=close rel=nofollow data-remote=true data-method=delete href="{{ url_for('account.del_notifacations', notify_id=unread.id, page=page_obj.page) }}">×</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if page_obj != [] %}
					{% for readed in page_obj.items %}
						{% if readed.topic %}
							{% if readed.reply %}
								<tr id=notification-{{ readed.reply.id }}>
							{% else %}
								<tr id=notification-{{ readed.topic.id }}>
							{% endif %}
								{% if readed.type == 3 %}
									<td class=avatar>
										<a href="{{ url_for('account.usercenter', username=readed.topic.author.name) }}">
											<img src="{{ readed.topic.author.email|gravatar(size=48) }}" style="width: 48px; height: 48px;">
										</a>
									</td>
								{% else %}
									<td class=avatar>
										<a href="{{ url_for('account.usercenter', username=readed.reply.author.name) }}">
											<img src="{{ readed.reply.author.email|gravatar(size=48) }}" style="width: 48px; height: 48px;">
										</a>
									</td>
								{% endif %}
								{% if readed.type == 1 %}
									<td>
										<h3>
											<a href="{{ url_for('account.usercenter', username=readed.reply.author.name) }}">{{ readed.reply.author.name }}</a>
											回复了你的主题
											<a href="{{ url_for('topic.topic_view', topic_id=readed.reply.topic.id) }}">{{ readed.reply.topic.title }}</a>
											<span class="gray little list">
											{{ readed.reply.date|datetimeformat }}
											</span>
										</h3>
										<p>{{ readed.reply.text|safe }}</p>
									</td>
								{% else %}
									{% if readed.type == 2 %}
										<td>
											<h3>
												<a href="{{ url_for('account.usercenter', username=readed.reply.author.name) }}">{{ readed.reply.author.name }}</a>
												在主题
												<a href="{{ url_for('topic.topic_view', topic_id=readed.reply.topic.id) }}">{{ readed.reply.topic.title }}</a>
												提及了你
												<span class="gray little list">
												{{ readed.reply.date|datetimeformat }}
												</span>
											</h3>
											<p>{{ readed.reply.text|safe }}</p>
										</td>
									{% else %}
										<td>
											<h3>
												<a href="{{ url_for('account.usercenter', username=readed.topic.author.name) }}">{{ readed.topic.author.name }}</a>
												在主题
												<a href="{{ url_for('topic.topic_view', topic_id=readed.topic.id) }}">{{ readed.topic.title }}</a>
												提及了你
												<span class="gray little list">
												{{ readed.topic.date|datetimeformat }}
												</span>
											</h3>
											<p>{{ readed.topic.text|safe }}</p>
										</td>
									{% endif %}
								{% endif %}
									<td class=last>
										<a class=close rel=nofollow data-remote=true data-method=delete href="{{ url_for('account.del_notifacations', notify_id=readed.id, page=page_obj.page) }}">×</a>
									</td>
								</tr>
						{% endif %}
					{% endfor %}
				{% endif %}
				</tbody>
			</table>
		</section>
		{% if page_obj != [] %}
			{{ paginate(page_obj, page_url) }}
		{% endif %}
	</div>
{% endblock %}
